<div th:fragment="fragment-header">
    <div id="header">
        <div class="container">
            <div class = "header">
                <div class="header-menu">
                    <div th:if="${user != null}">
                        <span th:text="|${user.name} 님|"></span>
                        <a th:href="@{/user/my-page}">마이페이지</a>
                        <a th:href="@{/user/logout}">로그아웃</a>
                    </div>
                    <div th:unless="${user != null}">
                        <a th:href="@{/user/login}">로그인</a>
                        <a th:href="@{/user/sign-up}">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>