<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head.html :: fragment-head"></div>
    <link th:href="@{/css/formError.css}" rel="stylesheet" type="text/css">
    <title>Job-Finder</title>
</head>
<body>
<div class="container" style="max-width: 800px">
    <div th:replace="fragment/header.html :: fragment-header"></div>
    <div th:each="category : ${categoryList}">
        <a th:href="@{'/my-page/bookmark/' + ${category.id}}" th:text="${category.name}"></a>
    </div>
</div>
</body>