.tag {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    transition: all .3s linear;
}