<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head.html :: fragment-head"></div>
    <link th:href="@{/css/formError.css}" rel="stylesheet" type="text/css">
    <title>Job-Finder</title>
</head>
<body>
<div th:replace="fragment/header.html :: fragment-header"></div>

<div class="container" style="max-width: 800px">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form action="" th:action th:object="${loginFormDto}" method="post">

        <div class="row">
            <div class="field-error" th:if="${loginFailed != null}" th:text="${loginFailed}"></div>
        </div>
        <br>

        <div class="row">
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" th:errorclass="field-error">
        </div>
        <br>
        <div class="row">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error">
        </div>
        <br>
        <div class="row">
            <button type="submit" class="w-50 btn btn-primary btn-lg">로그인</button>
        </div>
    </form>
</div>
</body>
</html>