<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Recruits</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <button th:onclick="|location.href='@{/job-find}'|">뒤로</button>
    </div>
    <table class="table">
        <tr th:each="recruit: ${list}">
            <td>
                <div th:text="${recruit.corp}"></div>
                <div th:text="${recruit.platform}"></div>
            </td>
            <td>
                <div>
                    <a th:href="${recruit.url}" th:text="${recruit.title}"></a>
                    <div>
                        <span th:text="${recruit.location}"></span>
                        <span th:text="${recruit.jobType}"></span>
                        <span th:text="${recruit.career}"></span>
                        <span th:text="${recruit.getDueDate}"></span>
                    </div>
                </div>
                <div th:text="${recruit.techStack}"></div>
            </td>
        </tr>
    </table>
    <nav style="text-align: center;">
        <ul class="pagination"
            th:with="lastPage=(${startPage + 9 < totalPage ? startPage + 9 : totalPage})">
            <li class="page-item" th:style="${currentPage == 1} ? 'display : none'">
                <form th:action="job-find" th:object="${dto}" method="post">
                    <input th:type="hidden" th:value="1" name="currentPage">
                    <input th:type="hidden" th:field="*{platform}" th:value="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}" th:value="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}" th:value="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}" th:value="*{jobType}"/>
                    <input th:type="hidden" th:field="*{pay.payType}" th:value="*{pay.payType}"/>
                    <input th:type="hidden" th:field="*{pay.payMin}" th:value="*{pay.payMin}"/>
                    <input th:type="hidden" th:field="*{pay.payMax}" th:value="*{pay.payMax}"/>
                    <input th:type="hidden" th:field="*{career.careerType}" th:value="*{career.careerType}"/>
                    <input th:type="hidden" th:field="*{career.careerMin}" th:value="*{career.careerMin}"/>
                    <input th:type="hidden" th:field="*{career.careerMax}" th:value="*{career.careerMax}"/>
                    <button type="submit" th:text="First" class="btn"></button>
                </form>
            </li>
            <li class="page-item" th:style="${currentPage == 1} ? 'display : none'">
                <form th:action="job-find" th:object="${dto}" method="post">
                    <input th:type="hidden" th:value="${currentPage} - 1 > 0 ? ${currentPage} - 1 : 1" name="currentPage">
                    <input th:type="hidden" th:field="*{platform}" th:value="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}" th:value="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}" th:value="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}" th:value="*{jobType}"/>
                    <input th:type="hidden" th:field="*{pay.payType}" th:value="*{pay.payType}"/>
                    <input th:type="hidden" th:field="*{pay.payMin}" th:value="*{pay.payMin}"/>
                    <input th:type="hidden" th:field="*{pay.payMax}" th:value="*{pay.payMax}"/>
                    <input th:type="hidden" th:field="*{career.careerType}" th:value="*{career.careerType}"/>
                    <input th:type="hidden" th:field="*{career.careerMin}" th:value="*{career.careerMin}"/>
                    <input th:type="hidden" th:field="*{career.careerMax}" th:value="*{career.careerMax}"/>
                    <button type="submit" th:text="Prev" th:classappend="${currentPage == 1} ? 'disabled-btn'" class="btn"></button>
                </form>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, lastPage)}" class="page-item">
                <form th:action="job-find" th:object="${dto}" method="post">
                    <input th:type="hidden" th:value="${page}" name="currentPage">
                    <input th:type="hidden" th:field="*{platform}" th:value="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}" th:value="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}" th:value="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}" th:value="*{jobType}"/>
                    <input th:type="hidden" th:field="*{pay.payType}" th:value="*{pay.payType}"/>
                    <input th:type="hidden" th:field="*{pay.payMin}" th:value="*{pay.payMin}"/>
                    <input th:type="hidden" th:field="*{pay.payMax}" th:value="*{pay.payMax}"/>
                    <input th:type="hidden" th:field="*{career.careerType}" th:value="*{career.careerType}"/>
                    <input th:type="hidden" th:field="*{career.careerMin}" th:value="*{career.careerMin}"/>
                    <input th:type="hidden" th:field="*{career.careerMax}" th:value="*{career.careerMax}"/>
                    <button type="submit" th:text="${page}" th:classappend="${page == currentPage} ? 'btn-primary'" class="btn"></button>
                </form>
            </li>

            <li class="page-item" th:style="${currentPage == totalPage} ? 'display : none'">
                <form th:action="job-find" th:object="${dto}" method="post">
                    <input th:type="hidden" th:value="${currentPage} - 1" name="currentPage">
                    <input th:type="hidden" th:field="*{platform}" th:value="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}" th:value="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}" th:value="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}" th:value="*{jobType}"/>
                    <input th:type="hidden" th:field="*{pay.payType}" th:value="*{pay.payType}"/>
                    <input th:type="hidden" th:field="*{pay.payMin}" th:value="*{pay.payMin}"/>
                    <input th:type="hidden" th:field="*{pay.payMax}" th:value="*{pay.payMax}"/>
                    <input th:type="hidden" th:field="*{career.careerType}" th:value="*{career.careerType}"/>
                    <input th:type="hidden" th:field="*{career.careerMin}" th:value="*{career.careerMin}"/>
                    <input th:type="hidden" th:field="*{career.careerMax}" th:value="*{career.careerMax}"/>
                    <button type="submit" th:text="Next" class="btn"></button>
                </form>
            </li>
            <li th:class="page-item" th:style="${currentPage == totalPage} ? 'display : none'">
                <form th:action="job-find" th:object="${dto}" method="post">
                    <input th:type="hidden" th:value="${totalPage}" name="currentPage">
                    <input th:type="hidden" th:field="*{platform}" th:value="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}" th:value="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}" th:value="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}" th:value="*{jobType}"/>
                    <input th:type="hidden" th:field="*{pay.payType}" th:value="*{pay.payType}"/>
                    <input th:type="hidden" th:field="*{pay.payMin}" th:value="*{pay.payMin}"/>
                    <input th:type="hidden" th:field="*{pay.payMax}" th:value="*{pay.payMax}"/>
                    <input th:type="hidden" th:field="*{career.careerType}" th:value="*{career.careerType}"/>
                    <input th:type="hidden" th:field="*{career.careerMin}" th:value="*{career.careerMin}"/>
                    <input th:type="hidden" th:field="*{career.careerMax}" th:value="*{career.careerMax}"/>
                    <button type="submit" th:text="Last" class="btn"></button>
                </form>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>