<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/header.html :: fragment-header"></div>
</head>
<body>
<div class="container">
    <div>
        <button th:onclick="|location.href='@{/job-find}'|" class="btn-primary">뒤로</button>
    </div>
    <table class="table">
        <tr th:each="recruit: ${recruitDtoList}">
            <td>
                <div th:text="${recruit.corp}"></div>
                <div th:text="${recruit.platform}"></div>
            </td>
            <td>
                <div>
                    <a th:href="${recruit.url}" th:text="${recruit.title}" target="_blank"></a>
                    <div>
                        <span th:text="'| ' + ${recruit.location} + ' | '"></span>
                        <span th:text="${recruit.jobType} + ' | '"></span>
                        <span th:text="${recruit.career} + ' | '"></span>
                        <span th:if="${recruit.isAlwaysRecruiting}">상시 채용</span>
                        <span th:unless="${recruit.isAlwaysRecruiting}" th:text="'~' + ${recruit.getDueDate.getMonthValue} + '/' + ${recruit.getDueDate.getDayOfMonth}"></span>
                    </div>
                </div>
                <div th:text="${recruit.techStack}"></div>
            </td>
        </tr>
    </table>
    <nav style="text-align: center;">
        <ul class="pagination" th:object="${searchFormDto}"
            th:with="lastPage=(${startPage + 9 < totalPage ? startPage + 9 : totalPage})">
            <li class="page-item" th:style="${searchFormDto.currentPage == 1} ? 'display : none'">
                <form th:action="job-find" method="post">
                    <input th:type="hidden" name="currentPage"  th:value="1">
                    <input th:type="hidden" th:field="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}"/>
                    <input th:type="hidden" th:field="*{payType}"/>
                    <input th:type="hidden" th:field="*{payMin}"/>
                    <input th:type="hidden" th:field="*{payMax}"/>
                    <input th:type="hidden" th:field="*{careerType}"/>
                    <input th:type="hidden" th:field="*{careerMin}"/>
                    <input th:type="hidden" th:field="*{careerMax}"/>
                    <button type="submit" th:text="First" class="btn"></button>
                </form>
            </li>
            <li class="page-item" th:style="${searchFormDto.currentPage == 1} ? 'display : none'">
                <form th:action="job-find" th:object="${searchFormDto}" method="post">
                    <input th:type="hidden" name="currentPage"
                           th:value="${searchFormDto.currentPage} - 1 > 0 ? ${searchFormDto.currentPage} - 1 : 1">
                    <input th:type="hidden" th:field="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}"/>
                    <input th:type="hidden" th:field="*{payType}"/>
                    <input th:type="hidden" th:field="*{payMin}"/>
                    <input th:type="hidden" th:field="*{payMax}"/>
                    <input th:type="hidden" th:field="*{careerType}"/>
                    <input th:type="hidden" th:field="*{careerMin}"/>
                    <input th:type="hidden" th:field="*{careerMax}"/>
                    <button type="submit" th:text="Prev" th:classappend="${searchFormDto.currentPage == 1} ? 'disabled-btn'" class="btn"></button>
                </form>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, lastPage)}" class="page-item">
                <form th:action="job-find" th:object="${searchFormDto}" method="post">
                    <input th:type="hidden" name="currentPage" th:value="${page}">
                    <input th:type="hidden" th:field="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}"/>
                    <input th:type="hidden" th:field="*{payType}"/>
                    <input th:type="hidden" th:field="*{payMin}"/>
                    <input th:type="hidden" th:field="*{payMax}"/>
                    <input th:type="hidden" th:field="*{careerType}"/>
                    <input th:type="hidden" th:field="*{careerMin}"/>
                    <input th:type="hidden" th:field="*{careerMax}"/>
                    <button type="submit" th:text="${page}" th:classappend="${page == searchFormDto.currentPage} ? 'btn-primary'" class="btn"></button>
                </form>
            </li>

            <li class="page-item" th:style="${searchFormDto.currentPage == totalPage} ? 'display : none'">
                <form th:action="job-find" th:object="${searchFormDto}" method="post">
                    <input th:type="hidden" name="currentPage" th:value="${searchFormDto.currentPage} + 1">
                    <input th:type="hidden" th:field="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}"/>
                    <input th:type="hidden" th:field="*{payType}"/>
                    <input th:type="hidden" th:field="*{payMin}"/>
                    <input th:type="hidden" th:field="*{payMax}"/>
                    <input th:type="hidden" th:field="*{careerType}"/>
                    <input th:type="hidden" th:field="*{careerMin}"/>
                    <input th:type="hidden" th:field="*{careerMax}"/>
                    <button type="submit" th:text="Next" class="btn"></button>
                </form>
            </li>
            <li th:class="page-item" th:style="${searchFormDto.currentPage == totalPage} ? 'display : none'">
                <form th:action="job-find" th:object="${searchFormDto}" method="post">
                    <input th:type="hidden" name="currentPage" th:value="${totalPage}">
                    <input th:type="hidden" th:field="*{platform}"/>
                    <input th:type="hidden" th:field="*{searchText}"/>
                    <input th:type="hidden" th:field="*{location}"/>
                    <input th:type="hidden" th:field="*{jobType}"/>
                    <input th:type="hidden" th:field="*{payType}"/>
                    <input th:type="hidden" th:field="*{payMin}"/>
                    <input th:type="hidden" th:field="*{payMax}"/>
                    <input th:type="hidden" th:field="*{careerType}"/>
                    <input th:type="hidden" th:field="*{careerMin}"/>
                    <input th:type="hidden" th:field="*{careerMax}"/>
                    <button type="submit" th:text="Last" class="btn"></button>
                </form>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>